<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task_word.task %>
</p>

<p>
  <strong>Word:</strong>
  <%= @task_word.word %>
</p>

<%= link_to 'Edit', edit_task_word_path(@task_word) %> |
<%= link_to 'Back', task_task_words_path %>
